include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
recursive-include underwear *.yml
recursive-include underwear/roles *
recursive-include underwear/group_vars *
recursive-include underwear/ssh_conf *
recursive-include underwear/management *
