[program:{{app_name}}]
environment=DEBUG={{django_env_vars.DEBUG}},PRODUCTION_MODE={{django_env_vars.PRODUCTION_MODE}},DATABASE_URL="{{django_env_vars.DATABASE_URL}}",STATIC_URL="{{django_env_vars.STATIC_URL}}",SECRET_KEY="{{django_env_vars.SECRET_KEY}}",INTERCOM_IO_APP_ID="{{django_env_vars.INTERCOM_IO_APP_ID}}",INTERCOM_IO_API_SECRET="{{django_env_vars.INTERCOM_IO_API_SECRET}}",STRIPE_SECRET_KEY="{{django_env_vars.STRIPE_SECRET_KEY}}",STRIPE_PUBLIC_KEY="{{django_env_vars.STRIPE_PUBLIC_KEY}}",GITHUB_APP_ID="{{django_env_vars.GITHUB_APP_ID}}",GITHUB_API_SECRET="{{django_env_vars.GITHUB_API_SECRET}}",NEW_RELIC_CONFIG_FILE="{{app_code_dir}}/newrelic.ini"
command={{virtualenv_dir}}/bin/newrelic-admin run-program {{virtualenv_dir}}/bin/gunicorn {{django_settings_dir_name}}.wsgi:application
directory={{app_code_dir}}
user={{deploy_user}}
autostart=true
autorestart=true
redirect_stderr=True
